public-hoist-pattern[]=*wagmi*
public-hoist-pattern[]=*viem*
public-hoist-pattern[]=@coinbase*
public-hoist-pattern[]=@tanstack*
public-hoist-pattern[]=@lifi*
shamefully-hoist=true
virtual-store-dir-max-length=60
